<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=coffee" class="dropdown-item">Coffees</a>
                <a href="{% url 'products' %}?category=tea" class="dropdown-item">Teas</a>
                <a href="{% url 'products' %}?category=drinking_chocolate" class="dropdown-item">Hot Chocolates</a>
                <a href="{% url 'products' %}?category=coffee,tea,drinking_chocolate" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=bakery" id="homeware-link" aria-haspopup="true" aria-expanded="false">
                Bakery
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=beans" class="dropdown-item">Coffee Beans</a>
                <a href="{% url 'products' %}?category=loose_tea" class="dropdown-item">Loose Tea</a>
                <a href="{% url 'products' %}?category=packed_chocolate" class="dropdown-item">Packed Chocolate</a>
                <a href="{% url 'products' %}?category=beans,loose_tea,packed_chocolate" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>