{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="logo-font">About Us</h2>
        <hr class="w-100 mb-1">
        <div class="card" style="width: 45.5rem;">
          <img src="https://eposnow-marketing.s3.eu-west-1.amazonaws.com/public/Uploads/nafinia-putra-Kwdp-0pok-I-unsplash-v2.jpg" class="card-img-top" alt="Coffee Shop bar view">
          <div class="card-body">
            <p class="card-text">Little bit about us. We've opened our door in 2019 just before the pandemic hit and with everyones lifestyles drastically changing, we've realised how important it is to have something
              familiar and accesible all the time so that's how our little coffee shop slowly started transitioning into the virtual space.
            </p>
            <p> We know very well how important it is a good cup of coffee in the morning and we make it our mission to 
              serve excellence with every single cup. Our new delivery services allows you to enjoy high quality cup of coffee wherever you'd be.
            </p>
            <p>Don't forget to explore our Shop area, where you can find gurment coffee beans, hot chocolates or speciality teas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}