{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}
- Contact Us: Success
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Heading-->
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Contact Us</h2>
            <hr class="w-100 mb-1">
        </div>
    </div>
</div>
<!-- Contact From Success Message-->
<main class="container mb-5">
    <div class="row pt-3 height-view">
        <div class="col-12 col-md-6">
            <img class="contact-img" src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/beveragedaily.com/news/markets/us-coffee-shop-market-grows-to-45.4bn-valuation-in-2018/8803729-1-eng-GB/US-coffee-shop-market-grows-to-45.4bn-valuation-in-2018_wrbm_large.jpg" alt="Coffee Cup and beans">
        </div>
        <div class="col-12 col-md-6 mt-5">
            <h3 class="smaller-heading">Success! Thank you for your message. We will be in contact soon.</h3>
            <a href="{% url 'products' %}" class="btn action-btn btn-black mt-3">
                <span class="text-uppercase">Visit our coffee selection</span>
            </a>
        </div>
    </div>
</main>
{% endblock %}